<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sa.security.dao.ResourceMapper">
	<resultMap id="BaseResultMap" type="org.sa.bean.security.Resource">
		<id column="RESCID" property="rescId" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PID" property="pId" jdbcType="INTEGER" />
		<result column="TYPE" property="type" jdbcType="INTEGER" />
		<result column="LEVEL" property="level" jdbcType="INTEGER" />
		<result column="RESKEY" property="resKey" jdbcType="VARCHAR" />
		<result column="RESURL" property="resUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		RESCID, NAME ,PID , TYPE , LEVEL, RESKEY , RESURL 
	</sql>
	<select id="getById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from T_RESOURCE 
		where RESCID = #{rescId,jdbcType=INTEGER}
	</select>
	<delete id="delete" parameterType="java.lang.Integer">
		delete from T_RESOURCE
		where RESCID = #{rescId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="org.sa.bean.security.Resource">
		insert into T_RESOURCE (RESCID, NAME ,PID , TYPE , LEVEL, RESKEY , RESURL 
		)
		values (#{rescId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pId,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{level,jdbcType=INTEGER},
		#{resKey,jdbcType=VARCHAR},
		#{resUrl,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="org.sa.bean.security.Resource">
		insert into T_RESOURCE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rescId != null">
				RESCID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="pId != null">
				PID,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="level != null">
				LEVEL,
			</if>
			<if test="resKey != null">
				RESKEY,
			</if>
			<if test="resUrl != null">
				RESURL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rescId != null">
				#{rescId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pId != null">
				#{pId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="resKey != null">
				#{resKey,jdbcType=VARCHAR},
			</if>
			<if test="resUrl != null">
				#{resUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="org.sa.bean.security.Resource">
		update T_RESOURCE
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pId != null">
				PID = #{pId,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=INTEGER},
			</if>
			<if test="level != null">
				LEVEL = #{level,jdbcType=INTEGER},
			</if>
			<if test="resKey != null">
				RESKEY = #{resKey,jdbcType=VARCHAR},
			</if>
			<if test="resUrl != null">
				RESURL = #{resUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where RESCID = #{rescId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.sa.bean.security.Resource">
		update T_RESOURCE
		set NAME = #{name,jdbcType=VARCHAR},
		set PID = #{pId,jdbcType=INTEGER},
		set TYPE = #{type,jdbcType=INTEGER},
		set LEVEL = #{level,jdbcType=INTEGER},
		set RESKEY = #{resKey,jdbcType=VARCHAR},
		set RESURL = #{resUrl,jdbcType=VARCHAR}
		where RESCID = #{rescId,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap">
		select RESCID, NAME,PID,TYPE,LEVEL,RESKEY,RESURL from T_RESOURCE 
	</select>
	
	
	<insert id="insertRoleResource" parameterType="org.sa.bean.security.RoleResource">
	insert into T_ROLE_RESOURCE(roleId,rescId) values (#{roleId},#{rescId})
	</insert>
	
	<delete id="deleteRoleResource" parameterType="java.lang.Integer">
	delete from T_ROLE_RESOURCE where roleId=#{roleId}
	</delete>
	
	<select id="getUserResources" parameterType="String" resultType="org.sa.bean.security.Resource">
		SELECT 
		<include refid="Base_Column_List" />
		FROM T_RESOURCE WHERE rescId in(
		SELECT rescId FROM 
		T_ROLE_RESOURCE WHERE roleId in(
		SELECT roleId FROM T_USER_ROLE 
		WHERE userId=#{userId}))
	</select>
	
	<select id="getResourcesByUserName" parameterType="String" resultType="org.sa.bean.security.Resource">
		SELECT 
		<include refid="Base_Column_List" />
		FROM T_RESOURCE WHERE rescId in(
		SELECT rescId FROM 
		T_ROLE_RESOURCE WHERE roleId in(
		SELECT rr.roleId FROM T_USER_ROLE rr,T_USER u 
		WHERE u.userId=rr.userId and u.username=#{username}))
	</select>
	
	
</mapper>